* {
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: 'Inter', sans-serif;
    /* font-style: normal; */
    font-size: 16px;
    color: #303030;
}

header {
    background-color: #2965F1;
    height: 70px;
    padding:23px 0;
    /* Стили для хедера */
}

header span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100vh;
    /* Стили для первой секции */
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-size: 18px;
    line-height: 21.78px;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    max-height: 508px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    /* Стили для второй секции */
}

select {
    font-family: 'Inter', sans-serif;
    font-style: regular;
    padding: 9px 87px 8px 12px;
    width: 150px;
    height: 36px;
    border: 1px 0px 0px 0px;
    background: url("./assets/ep_arrow-down.svg") no-repeat right 15px top 50%;
    appearance: none;
    border-radius: 5px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    /* Стили для выпадающего списка */
}

.section-title {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    padding-left: 20px;
    font-family: 'Inter';
    line-height: 19.36px;
    text-align: left;
    list-style-image: url(./assets/solar_map-arrow-up-bold.svg);
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding: 0 20px;
    /* Стили для нумерованного списка во второй секции */
}

ul {
    padding: 0px 20px;
}

ol {
    padding: 0 20px;
}

.label {
    font-family: 'Inter';
    line-height: 19.36px;
    text-align: left;
    padding-left: 6px;
/* Стили для подписей чекбоксов */
}

.text-field {
    width: 330px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: 400;
    font-size: 16px;
    font-weight: 400;
    color: rgba(48, 48, 48, 0.2);
    padding: 9px 0 8px 12px;
    /* Стили для односточного поля ввода текста */
}

.btn {
    width: 125px;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: #2965F1;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;

    /* Стили для кнопки */
}

.line {
    margin-top: 60px;
    margin-bottom: 60px;
    /* Стили для линии */
}

table {
    border-collapse: collapse;
    min-width: 300px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
    /* Стили для таблицы */
}

th, td {
    border: 1px solid #95A1BB;
    text-align: left;
    padding: 12px 15px;
    text-align: center;
    /* Стили для ячеек таблицы */
}


footer {
    background-color: rgba(163, 168, 255, 0.3);
    padding: 26px 0px;
    height: 70px;
    /* Стили для футера */
}

.footer-link {
    text-decoration: none;
    padding-left: 1px;
    color: #2965F1;
    font-size: 17px;
    font-weight: 400;
    /* Стили для футера */
}